<p class="label">Избранное</p>
<mat-grid-list
  [appGridCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 5}"
  rowHeight="600px"
  gutterSize="40px"
  class="mat-grid-list"
>
  <mat-grid-tile *ngFor="let clothes of clothesList">
    <app-clothes-card
      [clothes]="clothes"
      [showFavoriteButton]="false"
      [showBasketButton]="!alreadyInBasket(clothes.clothesId)"
      [showCloseButton]="true"
      (onClickCloseButton)="deleteFromFavorite($event)"
    >
    </app-clothes-card>
  </mat-grid-tile>
  <div *ngIf="clothesList?.length === 0" class="empty-container">
    <p>Список избранного пуст</p>
  </div>
</mat-grid-list>
