@import "src/app/const-styles";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  .filter-button {
    margin-left: $s-indent;
  }
}

.filters {
  margin-bottom: $s-indent;
}

.empty-container {
  height: calc(100% - 2 * #{$s-indent});
  display: flex;
  justify-content: center;
  align-items: center;
}
