@import "src/app/const-styles";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  .filter-button {
    margin-left: $s-indent;
  }
}

.empty-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
