<div>
  <h2 mat-dialog-title>{{title}}</h2>
  <mat-dialog-content class="mat-typography" >
    <form [formGroup]="formGroup" class="dialog-container-form">
      <mat-form-field class="form-element">
        <label>
          <input matInput name="name" formControlName="name" placeholder="Имя" required/>
        </label>
      </mat-form-field>

      <mat-form-field class="form-element" appearance="fill">
        <mat-label>Бренд</mat-label>
        <mat-select>
          <mat-option *ngFor="let brand of brandList" [value]="brand.brandId">
            {{brand.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element">
        <label>
          <input matInput name="description" formControlName="description" placeholder="Описание" required/>
        </label>
      </mat-form-field>

      <mat-form-field class="form-element">
        <label>
          <input matInput name="price" formControlName="price" placeholder="Цена" type="number" required/>
          <span matSuffix>руб</span>
        </label>
      </mat-form-field>

      <mat-form-field class="form-element">
        <label>
          <input matInput name="color" formControlName="color" placeholder="Цвет" required/>
        </label>
      </mat-form-field>

      <mat-form-field class="form-element" appearance="fill">
        <mat-label>Пол</mat-label>
        <mat-select formControlName="genderType">
          <mat-option *ngFor="let genderType of genderTypeList" [value]="genderType.genderType">
            {{genderType.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Размер</mat-label>
        <mat-select formControlName="size">
          <mat-option *ngFor="let size of sizeList" [value]="size.size">
            {{size.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onCancel()">Отменить</button>
    <button mat-button [mat-dialog-close]="true" (click)="onApply()">Применить</button>
  </mat-dialog-actions>
</div>
