@import "src/app/const-styles";

.container {
  .mat-list-item-content {
    width: 100%;
  }

  .main-info {
    display: flex;
    flex-direction: row;

    .icon {
      margin-right: $s-indent;
    }

    .info {
      display: flex;
      flex-direction: column;
      flex: 1;

      .info-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .comment {
        word-break: break-word;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }
}
