<div class="container">
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>Профиль</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-upload-image
        [previewUrl]="previewUrl"
        (changeImageFile)="setImageFile($event)"
        (changePreviewUrl)="setPreviewUrl($event)"
      >
      </app-upload-image>

      <form *ngIf="formGroup" [formGroup]="formGroup">
        <mat-form-field class="form-element">
          <label>
            <input matInput name="login" formControlName="login" placeholder="Логин" readonly/>
          </label>
        </mat-form-field>

        <mat-form-field class="form-element">
          <label>
            <input matInput name="name" formControlName="name" placeholder="Имя"/>
          </label>
        </mat-form-field>

        <mat-form-field class="form-element">
          <label>
            <input matInput name="surname" formControlName="surname" placeholder="Фамилия"/>
          </label>
        </mat-form-field>

        <mat-form-field class="form-element">
          <label>
            <input matInput name="address" formControlName="address" placeholder="Адрес"/>
          </label>
        </mat-form-field>

        <mat-form-field class="form-element" appearance="fill">
          <mat-label>Пол</mat-label>
          <mat-select formControlName="genderType">
            <mat-option *ngFor="let genderType of genderTypeList" [value]="genderType.genderType">
              {{genderType.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label>Пароль</mat-label>
          <input matInput name="password" formControlName="password" placeholder="Пароль" [type]="isVisible ? 'text' : 'password'"/>
          <button mat-icon-button matSuffix (click)="isVisible = !isVisible" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isVisible">
            <mat-icon>{{isVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
        </mat-form-field>
      </form>

      <button mat-raised-button color="primary" (click)="onSubmit()" class="button" *ngIf="formGroup" [disabled]="!formGroup.valid">
        Сохранить
      </button>
    </mat-card-content>
  </mat-card>
</div>
