<div class="container">
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>Авторизация</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-form-field class="form-element">
          <label>
            <input matInput name="login" formControlName="login" placeholder="Логин" required/>
          </label>
          <mat-error *ngIf="login.invalid">{{ getLoginErrorMessage() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-label>Пароль</mat-label>
          <input matInput name="password" formControlName="password" placeholder="Пароль" [type]="isVisible ? 'text' : 'password'"  required/>
          <button mat-icon-button matSuffix (click)="isVisible = !isVisible" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isVisible">
            <mat-icon>{{isVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
        </mat-form-field>
      </form>

      <button mat-raised-button color="primary" (click)="onSubmit()" class="button" [disabled]="!formGroup.valid">
        Войти
      </button>
    </mat-card-content>
  </mat-card>
  <div class="footer">
    <span> Нет аккаунта? </span>
    <button mat-button (click)="goToRegisterPage()" color="primary">Зарегистрироваться</button>
  </div>
</div>
