<mat-card class="container">
  <mat-card-header class="header">
    <div class="title">
      <mat-card-title>
        <div class="name">{{user.name}} {{user.surname}}</div>
      </mat-card-title>
      <mat-card-subtitle> {{user.login}} </mat-card-subtitle>
    </div>
    <div *ngIf="showAdminButton()">
      <button *ngIf="isAdmin()" mat-raised-button color="primary" (click)="updateToUser()">Назначить пользователем</button>
      <button *ngIf="!isAdmin()" mat-raised-button color="primary" (click)="updateToAdmin()">Назначить администратором</button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>{{user.address}}</p>
  </mat-card-content>
</mat-card>
