<div class="container">

  <div class="main-info">
    <div class="left-content">
      <div [style.backgroundImage]="'url('+ getFilePath(clothes?.pictureUrl) +')'" class="image" *ngIf="!!clothes?.pictureUrl"></div>
      <div *ngIf="!clothes?.pictureUrl" class="empty-image">
        Нет изображения
      </div>
    </div>

    <div class="right-content">
      <p class="name">{{clothes?.name || ""}}</p>
      <div class="item">
        <span class="label">Цена: </span>
        <span>{{clothes?.price || ""}} руб</span>
      </div>
      <div class="item">
        <span class="label">Цвет: </span>
        <span>{{clothes?.color || ""}}</span>
      </div>
      <div class="item">
        <span class="label">Пол: </span>
        <span>{{genderType?.title || ""}}</span>
      </div>
      <div class="item">
        <span class="label">Размер: </span>
        <span>{{size?.title || ""}}</span>
      </div>
      <div class="brand-info">
        <p class="label"> Информация о бренде: </p>
        <app-brand-card [brand]="brand"></app-brand-card>
      </div>
      <div class="user-buttons">
        <button mat-button (click)="addToFavorite()" *ngIf="!alreadyInFavorite" color="warn">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-raised-button (click)="addToBasket()" *ngIf="!alreadyInBasket" color="primary">
          Добавить в корзину
        </button>
      </div>
    </div>
  </div>

  <div class="bottom-block">
    <mat-accordion multi class="description">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Описание
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <p>{{clothes?.description || ""}}</p>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="comments-block">
      <app-comment-expansion-list
        [clothes]="clothes"
      >
      </app-comment-expansion-list>
    </div>
  </div>

</div>
