@import "src/app/const-styles";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .main-info {
    display: flex;
    flex-direction: row;

    .left-content {
      margin-right: $md-indent;
      .image {
        height: 400px;
        width: 300px;
      }
    }

    .right-content {
      .item {
        margin-bottom: $xs-indent;
      }

      .brand-info {
        margin: $s-indent 0;
      }

      .name {
        font-size: 20px;
      }

      .label {
        font-size: 16px;
      }
    }
  }

  .bottom-block {
    margin-top: $s-indent;
    display: flex;
    flex-direction: row;
    width: 100%;

    .comments-block, .description {
      width: 50%;
    }

    .description {
      margin-right: $s-indent;
    }
  }

}
