<div>
  <h2 mat-dialog-title>{{title}}</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup" class="dialog-container-form">
      <mat-form-field class="form-element">
        <label>
          <input matInput name="name" formControlName="name" placeholder="Имя" required/>
        </label>
      </mat-form-field>

      <mat-form-field class="form-element">
        <label>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            name="description"
            formControlName="description"
            placeholder="Описание"
            required
            [maxLength]="1024"
          >
          </textarea>
        </label>
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close (click)="onCancel()">Отменить</button>
    <button mat-button [mat-dialog-close]="true" (click)="onApply()" [disabled]="!formGroup.valid">Применить</button>
  </mat-dialog-actions>
</div>
