:host {
  --xs-indent: 8px;
  --s-indent: 16px;
  --sm-indent: 24px;
  --md-indent: 32px;
  --lg-indent: 40px;

  --sidebar-height: 64px;
  --max-page-content-width: 940px;
}

.root {
  height: 100%;

  .main-container {
  //  height: calc(100% - var(--sidebar-height));
    padding: var(--s-indent);
  }

}
