$xs-indent: 8px;
$s-indent: 16px;
$sm-indent: 24px;
$md-indent: 32px;
$lg-indent: 40px;

$dialog-width: 500px;
$sidebar-height: 64px;
$file-size: 200px;
$small-image-size: 40px;
$image-size: 300px;
$dialog-min-width: 400px;
$dialog-max-width: 600px;
