@import "src/app/const-styles";

.header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.empty-container {
  height: calc(100% - 2 * #{$s-indent});
  display: flex;
  justify-content: center;
  align-items: center;
}
