@import "src/app/const-styles";

.container {
  margin-bottom: $s-indent;

  .header {
    height: 100%;
    padding: $s-indent;

    .title {
      display: flex;
      flex-direction: column;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    .button {
      margin-left: $s-indent;
    }
  }
}
