<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="header">
      <mat-panel-title class="title">
        <p>Статус заказа: {{orderStatus?.title}}</p>
        <p>Сумма заказа: {{order.price}} руб</p>
        <p>Дата заказа: {{order.createdDate}}</p>
      </mat-panel-title>
      <mat-panel-description>
        <button mat-icon-button color="warn" *ngIf="canDeleteOrder" (click)="deleteOrder()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-grid-list
      [appGridCols]="{xs: 1, sm: 2, md: 3, lg: 4, xl: 5}"
      rowHeight="500px"
      gutterSize="40px"
    >
      <mat-grid-tile *ngFor="let clothes of clothesList">
        <app-clothes-card
          [clothes]="clothes"
          [showFavoriteButton]=false
          [showBasketButton]=false
          [showInfoButton]=false
          [showEditButton]="false"
          [showDeleteButton]="false"
        >
        </app-clothes-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</mat-accordion>

