<mat-card>
  <mat-card-header class="header">
    <mat-card-title>{{clothes?.name || ""}}</mat-card-title>
    <button mat-icon-button *ngIf="showCloseButton" (click)="onClickClose()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <div class="image-container">
    <div [style.backgroundImage]="'url('+ getFilePath(clothes?.pictureUrl) +')'" class="image" *ngIf="!!clothes?.pictureUrl"></div>
    <div *ngIf="!clothes?.pictureUrl" class="empty-image">
      Нет изображения
    </div>
  </div>
  <mat-card-content>
    <p>Цвет: {{clothes?.color || "-"}}</p>
    <p>Цена: {{clothes.price}} руб</p>
    <p>Размер: {{this.size?.title}}</p>
    <p>Пол: {{this.genderType?.title}}</p>
  </mat-card-content>
  <mat-card-actions class="buttons">
    <div *ngIf="isAdmin" class="admin-buttons">
      <button *ngIf="showEditButton" mat-icon-button (click)="onClickEdit()" color="accent">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="showDeleteButton" mat-icon-button (click)="onClickDelete()" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="user-buttons">
      <button *ngIf="showFavoriteButton" mat-icon-button (click)="addToFavorite()" color="accent">
        <mat-icon>favorite</mat-icon>
      </button>
      <button *ngIf="showBasketButton" mat-icon-button (click)="addToBasket()" color="accent">
        <mat-icon>shopping_basket</mat-icon>
      </button>
      <button *ngIf="showInfoButton" mat-icon-button (click)="onSelectItem()" color="accent">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
