@import "src/app/const-styles";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.image-container {
  min-width: $image-size;
  height: $image-size;
  margin-bottom: $xs-indent;
  border-radius: 50%;

  .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .empty-image {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .user-buttons, .admin-buttons {
    display: flex;
    flex-direction: row;
  }

  .user-buttons {
    flex: 1;
    justify-content: flex-end;
  }
}

