<mat-card class="example-card">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>Цвет: {{clothes?.color || "-"}}</p>
    <p>Цена: {{clothes.price}} руб</p>
    <p>Размер: {{this.size?.title}}</p>
    <p>Пол: {{this.genderType?.title}}</p>
  </mat-card-content>
  <mat-card-actions class="buttons">
    <div *ngIf="isAdmin" class="admin-buttons">
      <button mat-icon-button (click)="onClickEdit()" color="accent">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onClickDelete()" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="user-buttons">
      <button mat-icon-button (click)="addToFavorite()" color="accent">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button (click)="addToBasket()" color="primary">
        <mat-icon>shopping_basket</mat-icon>
      </button>
      <button mat-icon-button (click)="onSelectItem()" color="accent">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
