@import "src/app/const-styles";

.container {
  margin-bottom: $s-indent;

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    flex: 1;

    .description {
      overflow: auto;
    }

    .actions {
      display: flex;
      flex-direction: row;
    }
  }
}


