<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="avatar">
      <mat-icon>polymer</mat-icon>
    </div>
    <mat-card-title>{{brand?.name || ""}}</mat-card-title>
    <mat-card-subtitle class="description">{{brand?.description || ""}}</mat-card-subtitle>
    <div *ngIf="isAdmin" class="actions">
      <button mat-icon-button (click)="onClickEdit()" color="accent">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onClickDelete()" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>
</mat-card>
