<mat-toolbar color="primary">
  <button mat-icon-button *ngIf="authorized$ | async">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button (click)="onClickHome()" class="home-icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>Clothes store</span>
  <span class="example-spacer"></span>
  <div *ngIf="authorized$ | async">
    <button mat-icon-button (click)="onClickUserProfile()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickOrder()">
      <mat-icon>bookmark_border</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickFavorite()">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickBasket()">
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickLogout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>


